{% extends "core/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <video autoplay muted loop id="bg-video" class="img-fluid">
            <source src="{% static "img/hero-video.mp4" %}" type="video/mp4" />
        </video>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3"><strong class='text-primary'>GoFit:</strong> Your One Stop Fitness Solution</h1>
        <p class="lead">All features at one place</p>
        <ul>
          <li>Workouts Tracker</li>
          <li>Calories Tracker</li>
          <li>Yoga</li>
          <li>AI Fitness Guide</li>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{% url "workout" %}" class="btn btn-primary btn-lg px-4 me-md-2">Add Workouts</a>
          <a href="{% url "calories" %}" class="btn btn-outline-secondary btn-lg px-4">Track Calories</a>
        </div>
      </div>
    </div>
  </div>    
{% endblock content %}