{% extends 'core/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                <p class="text-center small">Enter your personal details to create an account</p>
            </div>
            <form class="row g-3 needs-validation" novalidate method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }} <small class="text-warning">{{ field.errors|striptags }}</small>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            
        </div>
    </div>
{% endblock %}
